<%= provide :title, t(".title") %>
<div class="div-all-report">
  <h2 class="title-center report-title box-show">
    <%= current_user.division_name %>
  </h2>
  <div class="col-xs-9 box-show">
    <div class="div-report-filter">
      <%= render "filter_form", report: @report %>
    </div>
    <div id="all-report">
      <%= render "all_reports", reports: @reports, report: @report %>
    </div>
  </div>
</div>
