$text-color: #fff;
$body-color: #fafafa;
$form-input: #969fa4;
$form-color: #999;
$form-background: #f2f3f7;
$form-title-color: #636363;
$gray-light: #d4d4d4;
$text-color: #212529;
$sidebar-text-color: #fff;
$navbar-background: #fff;
$border-sidebar: #fff;
$sidebar-background: #1d1919;
$sidebar-color: #fff;
$sidebar-a-hover: #f8b739;
$report-sort-link-color: #212529;
$auth_title_color: #636363;
$alert-notice: #3c763d;
$alert-notice-background: #dff0d8;
$alert-notice-border: #d6e9c6;
$alert-alert: #a94442;
$alert-alert-background: #f2dede;
$alert-alert-border: #ebccd1;
$facebook-btn-background: #3B5998;
$google-btn-background: #dd4b39;
$new-comment-background: aliceblue;
