$text-color: #fff;
$body-color: #fafafa;
$form-input: #969fa4;
$form-color: #999;
$form-background: #f2f3f7;
$form-title-color: #636363;
$gray-light: #d4d4d4;
$text-color: #999;
$sidebar-text-color: #fff;
$navbar-background: #fff;
$border-sidebar: #fff;
$sidebar-background: #1d1919;
$sidebar-color: #fff;
$sidebar-a-hover: #f8b739;
