@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'colors';
@import 'https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700';

body {
    font-family: 'Poppins', sans-serif;
    background: $body-color;
}

.form-control {
  height: 40px;
  box-shadow: none;
  color: $form-input;
}

.form-control:focus {
  border-color: $body-color;
}

.form-control, .btn {
  border-radius: 3px;
}

.signup-form {
  width: 450px;
  margin: 30px auto;
  font-size: 15px;
  color: $form-color;
  border-radius: 3px;
  margin-bottom: 15px;
  background: $form-background;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;

  h2 {
    color: $form-title-color;
    margin: 0 0 15px;
    position: relative;
    text-align: center;
  }

  .hint-text {
    color: $form-color;
    margin-bottom: 30px;
    text-align: center;
  }

  h2:before {
    left: 0;
  }

  h2:after {
    right: 0;
  }

  .form-group {
    margin-bottom: 20px;
  }

  input[type='checkbox'] {
    margin-top: 3px;
  }

  .btn {
    font-size: 16px;
    font-weight: bold;
    min-width: 140px;
    outline: none !important;
  }

  .row {
    div:first-child {
      padding-right: 10px;
    }

    div:last-child {
      padding-left: 10px;
    }
  }
}

.signup-form h2:before, .signup-form h2:after {
  content: "";
  height: 2px;
  width: 30%;
  background: $gray-light;
  position: absolute;
  top: 50%;
  z-index: 2;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.7em;
}

#sidebar a{
  color: $sidebar-text-color;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  padding: 0px;
  background: $navbar-background;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

#sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: $sidebar-background;
  color: $sidebar-color;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: $sidebar-background;
  border-bottom: 1px solid $border-sidebar;
}

#sidebar ul.components {
  padding: 20px 0;
}

#sidebar ul p {
  color: $sidebar-text-color;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 16px;
  display: block;
}

#sidebar ul li a:hover {
  color: $sidebar-a-hover;
}

#sidebar ul li a:focus {
  color: $sidebar-a-hover;
}

a[data-toggle='collapse'] {
  position: relative;
}

a[aria-expanded='false']::before, a[aria-expanded='true']::before {
  content: '\e259';
  display: block;
  position: absolute;
  right: 20px;
  font-family: 'Glyphicons Halflings';
  font-size: 0.6em;
}
a[aria-expanded='true']::before {
  content: '\e260';
}

#content {
  width: calc(100% - 250px);
  padding: 40px;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}

#content.active {
  width: 100%;
}

#sidebar ul li ul li a {
  padding-left: 20px;
}

#logo {
  font-weight: 800;
}

.title-center {
  text-align: center;
}

.div-new-report {
  padding: 0px 40px;
}

.div-date-report {
  text-align: right;
  padding: 20px 10px;
}

.require-field {
  color: red;
}

.div-create-btn {
  padding: 20px 15px;

  button a {
    color: white;

    &:hover {
      text-decoration: none;
    }
  }
}

.div-report-filter {
  padding: 30px 0px;
}

.input-filter-report {
  width: 100%;
  padding: 10px;
  height: 42px;
}

.div-submit-filter-report {
  margin-top: 45px;
}

.box-show {
  box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03);
  background-color: white;
  padding: 15px;
  border-radius: 3px;
}

.box-user-info {
  span {
    font-weight: bold;
  }

  .box-info {
    padding: 25px 0px 3px 0px;
    border-bottom: 1px solid rgba(4,9,20,0.05);
  }
}

.report-detail, .box-account-info {
  margin-bottom: 30px;

  p, span {
    font-weight: bold;
  }

  .box-info {
    padding: 25px 0px 3px 0px;
    border-bottom: 1px solid rgba(4,9,20,0.05);

    &:first-child {
      padding-top: 0px;
    }
  }
}

.report-detail-box {
  padding: 20px 0px;
}

.box-comments {
  border-top: 1.5px solid gray;
}

.user-info {
  padding: 0px;
  margin-bottom: 0px;
}

.input-field-comment {
  width: 100%;
}

.input-field-comment {
  overflow: hidden;
}

.padding-0 {
  padding: 0px;
}

.box-account-info {
  margin-top: 20px;
}

.circle-avatar-small {
  width: 65px;
  height: 65px;
}

.circle-avatar-bigger {
  width: 140px;
  height: 110px;
}

.btn-to-edit-account {
  padding-top: 20px;
}

.sidebar-icon {
  margin-right: 5px;
}

.box-user-searching {
  margin-bottom: 20px;
}

.user-searching-result {
  position: absolute;
  z-index: 2;
  background-color: white;
  display: none;
}

#members-table-manager {
  margin-bottom: 20px;
}

.box-search-user-result {
  padding: 10px 0px;
}

.link-search-user-result {
  width: 100%;
  color: $text-color;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: $text-color;
  }
}
