<%= provide :title, t(".title")  %>
<div class="box-show col-xs-9">
  <div>
    <%= render "shared/report_detail", report: @report, user: @user %>
  </div>
  <div class="box-comments report-detail-box col-xs-12">
    <%= render "shared/report_comments", comments: @comments, report: @report %>
  </div>
</div>
